:root {
    --bg-light: #f9fffb;
    --text-dark: #2c3e50;
    --font-main: 'Segoe UI', sans-serif;

    --h1-bg:hsl(197, 64%, 66%);
    --h1-text: hsl(196, 19%, 19%);
    --h2-text: hsl(196, 19%, 19%);
    --h2-border: var(--h1-bg);
    --h3-text: #D67160;

    --list-bg: #1a9dd1;
    --list-border: #A1D69A;
    --strong-text: var(--h3-text);
    --code-bg:hsl(197, 64%, 66%);

    --def-bg: #f2fef9;
    --def-border: var(--h1-bg);
    --def-title: var(--text-dark);

    --nav-bg: var(--h2-text);
    --nav-text: var(--code-bg);

    --footer-bg: var(--h1-bg); 
    --footer-text: var(--h1-text);
}
nav {
    background: var(--nav-bg);
    color: var(--nav-text);
    border-radius: 10px;
    padding: 10px 14px;
    margin: 16px 0 24px 0;
    text-align: center;
    grid-area: nav;
}
nav ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    gap: 3cm
}
nav a { 
    color: var(--nav-text); 
    text-decoration: none; 
    font-weight: 600; 
}
header h1 { 
    margin: 0; font-size: 2.2rem; 
}
body {
    display:grid;
    grid-template-areas: 
    "header "
    "nav "
    "main "
    "footer "
    ;
    background-color: var(--bg-light);
    color: var(--text-dark);
    font-family: var(--font-main);
    margin: 40px !important;
    line-height: 1.7;
}

h1 {
    color: var(--h1-text);
    padding: 26px;
    border-radius: 22px;
    text-align: center;
    font-size: 2rem; 
}

h2 {
    color: var(--h2-text);
    font-size: 1.6rem;
    border-bottom: 2px solid var(--h2-border);
    padding-bottom: 5px;
    margin-top: 40px;
}
header {
    background-color: var(--h1-bg);
    color: var(--h1-text);
    padding: 16px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 16px;
    grid-area: header;
}
footer {
    background-color: var(--h1-bg);
    color: var(--h1-text);
    padding: 16px;
    border-radius: 16px;
    text-align: center;
    grid-area: footer;
}
main{
    color: var(--h1-text);
    text-align: center;
    grid-area: main;
     padding: 16px;
    border-radius: 12px;
    margin-bottom: 220px;
}

















